<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>The Brown Daily Herald</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/template-basic-styles.css' %}">
</head>

<body>
  <div id="headerNew"></div>
  <div class="main-container">
    
    <div class="top-ad" id="728x90"></div>

    <div class="main-page">
      <div class="main-content">
    
        <div id="hero"></div>
        <div id="section"></div>

      </div>
      <div id="sidebar" class="main-sidebar"></div>
    </div>
  </div>
  <div id="footerNew" class="main-footer"></div>

  {% block article %}{% endblock %} <!-- not necessarily article, could be something else -->
</body>
</html>