{% extends "base_generic.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<h1>Staff List, Spring 2018</h1>
<div class="corporate-staff-block">
<h3>CORPORATE</h3>
<p class="bold-name">Elena Renken</p>
<p>President, The Brown Daily Herald, Inc.</p>
<p>Editor-in-Chief, The Herald</p>

<p class="bold-name">Kasturi Pananjady</p>
<p>Vice President, The Brown Daily Herald, Inc.</p>
<p>Editor-in-Chief, the Herald</p>

<p class="bold-name">Michael Borrello</p>
<p>Treasurer, The Brown Daily Herald, Inc.</p>
<p>General Manager, The Herald</p>

<p class="bold-name">Matilda Lynton</p>
<p>Secretary, The Brown Daily Herald, Inc.</p>
<p>General Manager, The Herald</p>

</div>

<div class="staff-block-row">
    <div class="editorial-staff-block">
        <h3>EDITORIAL</h3>
        <p>Editor-in-Chief: Elena Renken</p>
        <p>Editor-in-Chief: Kasturi Pananjady</p>
        <p>Managing Editor: Alex Skidmore</p>
        <p>Senior Editor: Madison Rivlin</p>
        <p>Senior Editor: Julianne Center</p>
        <p>Senior Editor: Hattie Xu</p>
        <br>
        <h4>Section Editors</h4>
        <p>Post-: Saanya Jain</p>
        <p>Features: Isabel Gensler</p>
        <p>University News: Anna Kramer, Eduard Muñoz-Suñé, Priyanka Podugu, Sarah Wang</p>
        <p>Metro: Emily Davies, Bella Roberts</p>
        <p>Science and Research: Jonathan Douglas, Jackson Wells</p>
        <p>Arts & Culture: Connor Sullivan, Mia Pattillo</p>
        <p>Sports: Alexandra Russell, Nicholas Wey</p>
        <br>
        <h4>Commentary</h4>
        <p>Opinions Editors: Connor Cardoso, Anuj Krishnamurthy, Clare Steinman</p>
        <br>
        <h4>Multimedia and Production</h4>
        <p>Design Editors: Kyle Cui, Eduard Muñoz-Suñé</p>
        <p>Assistant Design Editors: Julie Wang, Kelvin Yang</p>
        <p>Head Photo Editor: Sam Berube, Anita Sheih</p>
        <p>Illustrations Editor: Pia Mileaf-Patel</p>
        <p>Copy Desk Chief: Abby Borges</p>
        <p>Director of Web Development: Eli White</p>
    </div>
    <div class="business-staff-block">
        <h3>BUSINESS</h3>
        <p>General Managers: Michael Borrello, Matilda Lynton</p>
        <p>Office Manager: Diane Silvia</p>
        <br>
        <h4>Directors</h4>
        <p>Sales: Shreya Raghunandan</p>
        <p>Finance: Ravi Betzig</p>
        <p>Strategy: Caroline Ziegler</p>
    </div>
</div>

<div class="previous-staff-lists-block">
    <hr>
    <b>Previous Staff Lists</b>: Spring 2018, Fall 2017, Spring 2017, Fall 2016, Spring 2016, Fall 2015, Spring 2015, Fall 2014, Spring 2014, Fall 2013
</div>
{% endblock %}