{% extends "base_generic.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<h1>Brown Daily Herald Web Policy</h1>
The Herald’s online archives are a history of the Brown community.
We will not alter the archives for any reason unless a story contains factual errors.
In that case, we will change the incorrect information in the body of the story and
add a note indicating what has been changed and the reason for the change.
We also will not take steps to prevent a story’s inclusion in a search engine nor
to prevent a specific search term from finding a given story, as these measures reduce
the usefulness of The Herald’s archives to the community as a whole.
{% endblock %}