bdh/__pycache__/
newspaper/__pycache__/
newspaper/migrations/
media-repo/
.idea/*
webpack-stats.dev.json
bdh-env/
bdh/media-root/
*/__pycache__/*
bdh/settings/__pycache__/*
mynewenv/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
