/*============================================================================
  GENERAL ELEMENT STYLING
==============================================================================*/
*,
input,
:before,
:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Georgia, serif;
  font-size: 14px;
  color: #414141;
  line-height: 24px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}

:focus {
	outline: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
	color: #414141;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
	color: #414141;
}

@media screen and (max-width: 767px) {
	*,
	input,
	:before,
	:after {
		font-size: 12px;
		line-height: 18px;
	}
}

/*============================================================================
  PAGE MARGINS AND LAYOUT
==============================================================================*/
@media screen and (min-width: 769px) {
	.main-container {
		width: 1128px;
		margin: 0 auto;
	}
	.main-page {
		padding: 15px 0;
	}
	.main-content {
		position: relative;
		min-height: 2160px;
		float: left;
		width: 793px;
	}
	.main-sidebar {
		float: right;
		width: 335px;
	}
	.main-footer {
		clear: both;
	}
	.top-ad {
		margin-top: 8px;
		text-align: center;
	}
}

/*tablet view*/
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.main-container {
		width: 100%;
	}
	.main-page {
		padding: 15px 15px;
	}
	.main-content {
		width: calc(100% - 335px);
	}
	.top-ad {
		margin-top: 15px;
		overflow-x: hidden;
	}
}

/*mobile view*/
@media screen and (max-width: 767px) {
	.main-container {
		width: 100%;
		padding: 0 15px;
		background-color: #f4f4f4;
	}
	.main-page {
		padding: 25px 0;
	}
	.main-content {
		width: 100%;
	}
	.main-sidebar {
		width: 100%;
	}
	.top-ad {
		overflow-x: hidden;
		padding-top: 15px;
	}
}

/*============================================================================
  DESKTOP / MOBILE
==============================================================================*/
@media screen and (min-width: 768px) {
	.desktop-only {
		display: block;
	}
	.mobile-only {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.desktop-only {
		display: none;
	}
	.mobile-only {
		display: block;
	}
}

/*============================================================================
  HEADING TITLES (NAV AND ARTICLES)
==============================================================================*/
.large-nav-title {
	font-family: 'Avenir Medium', sans-serif;
	font-weight: 800;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.med-nav-title {
	font-family: 'Avenir Medium', sans-serif;
	font-weight: 800;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.med-section-title {
	font-family: 'Avenir Medium', sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	color: #ef2c34;
	margin-top: 0;
	margin-bottom: 10px;
}
.small-section-title {
	font-family: 'Avenir Medium', sans-serif;
	font-weight: 400;
	font-size: 8px;
	text-transform: uppercase;
	color: #ef2c34;
	margin-top: 0;
	margin-bottom: 10px;
}

/*mobile*/
@media screen and (max-width: 767px) { 
	.large-nav-title {
		font-size: 24px;
	}
	.med-nav-title {
		font-size: 16px;
	}
	.med-section-title {
		font-size: 10px;
		margin-bottom: 5px;
	}
	.small-section-title {
		margin-bottom: 5px;
	}
}

.large-article-title {
	font-weight: bold;
	font-size: 36px;
}
.med-article-title {
	font-weight: bold;
	font-size: 24px;
}
.small-article-title {
	font-weight: bold;
}
.small-article-info,
.small-article-info a {
	font-style: italic;
	color: #999;
}
/*mobile*/
@media screen and (max-width: 767px) { 
	.large-article-title {
		font-size: 24px;
	}
	.mef-article-title {
		font-size: 24px;
	}
	.small-article-title {
		font-size: 16px;
	}
}

/*============================================================================
  HEADER
==============================================================================*/
header ul {
	height: 35px;
	display: flex;
	flex-wrap: nowrap;
}
header li {
	line-height: 35px;
	border-right: 1px solid #c4c4c4;
}
header li:first-child {
	border-left: 1px solid #c4c4c4;
}
header a {
	font-family: 'Avenir Medium', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	width: 100%;
	height: 35px;
	padding: 12px 25px;
}
header a:hover {
	text-decoration: none;
}
.header-icon img {
	width: 15px;
	height: 15px;
	object-fit: contain;
}
.header-search {
	flex-grow: 1;
}
.header-search input {
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	color: #999;
	font-family: 'Avenir Medium', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}

.top-header, .bottom-header {
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
}
.top-header a {
	color: #999;
}
.top-header li:hover a {
	font-weight: 700;
}

.header-flag {
	width: 40%;
	margin: 0 auto;
}
.header-flag img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.bottom-header ul {
	justify-content: center;
}
.bottom-header a {
	font-size: 12px;
	font-weight: 800;
	color: #414141;
}
.bottom-header li:hover {
	border-bottom: 3px solid #ef2c34;
}

@media screen and (max-width: 1170px) and (min-width: 768px) {
	header ul {
		height: 30px;
	}
	header li {
		line-height: 30px;
	}
	header a {
		font-size: 8px;
		height: 30px;
		padding: 9px 15px;
	}
	.header-icon img {
		width: 10px;
		height: 10px;
	}
	.bottom-header a {
		font-size: 10px;
	}
}

/*============================================================================
  MOBILE BURGER NAVIGATION
==============================================================================*/
.mobile-open {
	overflow-y: hidden;
}

.mobile-header-content {
	height: 75px;
	position: relative;
}

.burger {
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}
.burger .bar {
	width: 15px;
	height: 2px;
	background-color: #414141;
	border-radius: 2px;
	margin: 3px 0;
	transition: .5s;
}
.burger .open .bar:first-child {
	-webkit-transform: rotate(-45deg) translate(-4px, 3px) ;
  transform: rotate(-45deg) translate(-4px, 3px) ;
}
.burger .open .bar:nth-child(2) {
	opacity: 0;
}
.burger .open .bar:last-child {
	-webkit-transform: rotate(45deg) translate(-4px, -3px) ;
  transform: rotate(45deg) translate(-4px, -3px) ;
}

.mobile-nav ul {
	display: block;
	height: auto;
}
.mobile-nav li {
	border: none !important;
}
.mobile-nav a {
	font-weight: 800;
	font-size: 12px;
	line-height: 18px;
	padding: 0;
}
.mobile-nav a:hover {
	text-decoration: underline;
}
.mobile-nav .open {
	display: block;
	width: 100%;
	height: calc(100vh - 75px);
	position: absolute;
	top: 75px;
	left: 0px;
	background-color: #f4f4f4;
	text-align: center;
	padding: 35px 30px;
}
.mobile-nav .closed {
	display: none;
}
.mobile-main-nav,
.mobile-other-nav {
	padding-bottom: 30px;
}
.mobile-social{
	display: flex !important;
	justify-content: space-between;
	width: 150px;
	margin: 0 auto;
}

.mobile-header-flag a{
	width: 250px;
	height: 50px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mobile-header-flag img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.mobile-search {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}
.mobile-search img {
	width: 18px;
	height: 18px;
	object-fit: contain;
}

/*============================================================================
  FOOTER
==============================================================================*/
.footer-content a {
	font-family: 'Avenir Medium', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}
.footer-subscribe input {
	width: 100%;
	height: 30px;
	border: none;
	padding: 10px;
	background: #e0e0e0;
	color: #414141;
	font-family: 'Avenir Medium', sans-serif;
	font-size: 12px;
}
.footer-follow img {
	width: 25px;
	height: 25px;
	object-fit: contain;
	margin-right: 30px;
}
.footer-follow a:last-child img {
	margin-right: 0;
}
.footer-section .has-child li a {
	font-weight: 400;
	margin-left: 15px;
}

.footer-copyright {
	font-size: 10px;
}


/*tablet*/
@media screen and (min-width: 768px) {
	.footer-content {
		border-top: 1px solid #c4c4c4;
		border-bottom: 1px solid #c4c4c4;
		display: flex;
		justify-content: space-between;
		padding: 30px 15px;
	}
	.footer-break {
		width: 100%;
		height: 1px;
		background-color: #c4c4c4;
	}
	.footer-section:last-child {
		width: 33%;
		border-left: 1px solid #c4c4c4;
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

/*mobile*/
@media screen and (max-width: 768px) {
	.main-footer {
		background-color: white;
		padding-top: 15px;
	}
	.main-footer .main-container {
		background-color: white;
	}
	.footer-content {
		column-count: 2;
		border-bottom: 1px solid #c4c4c4;
		padding: 15px;
	}
	.footer-section {
		margin-bottom: 30px;
		-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
	}
	.footer-section .has-child li a {
		margin-left: 10px;
	}
	.footer-break {
		height: 30px;
	}
}

/*============================================================================
  SIDEBAR
==============================================================================*/
.sidebar-articles {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.sidebar-articles a {
	border-bottom: 1px solid #dddddd;
	padding: 5px 0;
}
.sidebar-articles a:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.sidebar-latest .med-nav-title {
	margin-top: 0;
}
.sidebar-latest img {
	width: 100%;
}

/*desktop*/
@media screen and (min-width: 768px) {
	.sidebar {
		display: flex;
		flex-direction: column;
		border-left: 1px solid #c4c4c4;
		padding-bottom: 35px;
	}
	.sidebar > div {
		border-bottom: 1px solid #c4c4c4;
		padding: 35px 0 35px 35px;
	}
	.sidebar .advertisement {
		padding-top: 20px;
	}
	.sidebar > div:first-child {
		padding-top: 0;
	}
	.sidebar > div:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}

/*tablet*/
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.sidebar > div {
		padding: 20px 0 20px 20px;
	}
}

/*mobile*/
@media screen and (max-width: 768px) {
	.sidebar > div {
		background-color: white;
		margin-top: 32px;
		padding: 15px;
	}
	.sidebar .advertisement {
		background-color: transparent;
		text-align: center;
	}
}


/*============================================================================
  ADVERTISEMENTS
==============================================================================*/
.advertisement p {
	color: #999;
	font-family: 'Avenir Medium', sans-serif;
	font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
.advertisement img {
	object-fit: cover;
	object-position: center;
}

.ad_300x250 img {
	width: 300px;
	height: 250px;
}
.ad_728x90 {
	text-align: center;
}
.ad_728x90 img {
	width: 728px;
	height: 90px;
}

/*tablet*/
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.advertisement p {
		margin: 0;
	}
}

/*mobile*/
@media screen and (max-width: 768px) {
	.ad_728x90_wrapper {
		width: 100%;
		height: 0;
		padding-bottom: 12%;
	}
	.ad_728x90 img {
		width: 100%;
		height: 100%;
	}
}

/*============================================================================
  INDEX FEATURED ARTICLES GRID
==============================================================================*/
/*featured hero article*/
.featured-hero-article-text-overlay .hero-image {
	width: 100%;
	height: 100%;
}
.featured-hero-article-text-overlay img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}
/*desktop*/
@media screen and (min-width: 768px) {
	.featured-hero-article-text-overlay {
		width: calc(100% - 35px);
		height: 0;
		padding-bottom: 67%;
		position: relative;
	}
	.featured-hero-article-text-overlay .hero-image {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.featured-hero-article-text-overlay .gradient-overlay {
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.featured-hero-article-text-overlay img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.featured-hero-article-text-overlay .text-overlay {
		width: calc(100% - 70px);
		position: absolute;
		bottom: 35px;
		left: 35px;
		z-index: 1;
	}
	.featured-hero-article-text-overlay .text-overlay .large-article-title {
		color: white;
		margin-top: 10px;
	}
	.featured-hero-article-text-overlay .text-overlay p {
		color: white;
		margin-bottom: 0;
	}
	.index-featured .divider {
		width: calc(100% - 35px);
		height: 1px;
		margin: 20px 0;
		background: #ddd;
	}
}

/*tablet*/
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.featured-hero-article-text-overlay {
		width: calc(100% - 20px);
	}
	.featured-hero-article-text-overlay .text-overlay {
		bottom: 15px;
		left: 15px;
	}
	.index-featured .divider {
		width: calc(100% - 20px);
	}

	@media screen and (max-width: 850px) {
		.featured-hero-article-text-overlay .text-overlay p {
			display: none;
		}
	}
}

/*mobile*/
@media screen and (max-width: 767px) {
	.index-featured {
		background-color: white;
	}
	.featured-hero-article-text-overlay .hero-image img {
		width: 100%;
		height: auto;
		max-height: 700px;
/*		max-height: 500px;
*/	}
	.featured-hero-article-text-overlay .text-overlay {
		margin: 0 15px auto;
		padding: 20px 0;
		border-bottom: 1px solid #ddd;
	}
	.index-featured .divider {
		display: none;
	}
}

/*featured sub articles*/
/*desktop*/
@media screen and (min-width: 768px) {
	.featured-sub-articles {
		width: 100%;
		display: flex;
		border-bottom: 1px solid #c4c4c4;
		padding-bottom: 35px;
		padding-right: 35px;
	}
	.featured-sub-articles .med-section-title {
		margin-top: 0;
		margin-bottom: 0;
	}
	.featured-sub-articles .med-article-title {
		margin-top: 10px;
	}
	.featured-article-excerpt p {
		margin-bottom: 0;
	}
	.featured-sub-articles .featured-article-excerpt:first-child {
		border-right: 1px solid #dddddd;
		padding-right: 20px;
	}
	.featured-sub-articles .featured-article-excerpt:nth-child(2) {
		padding-left: 20px;
	}
}

/*tablet*/
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.featured-sub-articles {
		width: calc(100% - 20px);
		padding-right: 0;
	}
}

/*mobile*/
@media screen and (max-width: 767px) {
	.featured-sub-articles {
		margin: 0 15px auto;
	}
	.featured-sub-articles .featured-article-excerpt {
		padding: 20px 0;
	}
	.featured-sub-articles .featured-article-excerpt:first-child {
		border-bottom: 1px solid #ddd;
	}
}

/*============================================================================
  INDEX SECTIONS GRID
==============================================================================*/
.index_sections {
	display: flex;
	flex-wrap: wrap;
}
.section-features {
	flex-basis: 33%;
	flex-grow: 1;
	padding: 35px;
	border-left: 1px solid #c4c4c4;
}
.section-features .med-nav-title {
	margin-top: 0;
}
.section-features:nth-child(1),
.section-features:nth-child(4) {
	flex-basis: calc(33% - 35px);
	padding-left: 0;
	border-left: 0;
}
.section-features:nth-child(-n + 3) {
	border-bottom: 1px solid #c4c4c4;
}
.section-features .section-featured-articles img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 5px;
}

/*desktop*/
@media screen and (min-width: 768px) {
	.index_sections {
		display: flex;
		flex-wrap: wrap;
	}
	.section-features {
		flex-basis: 33%;
		flex-grow: 1;
		padding: 35px;
		border-left: 1px solid #c4c4c4;
	}
	.section-features .med-nav-title {
		margin-top: 0;
	}
	.section-features:nth-child(1), 
	.section-features:nth-child(4) {
		flex-basis: calc(33% - 35px);
		padding-left: 0;
		border-left: 0;
	}
	.section-features:nth-child(-n + 3) {
		border-bottom: 1px solid #c4c4c4;
	}
	.section-features .section-featured-articles .section-article-excerpt-img {
		width: 100%;
		height: 0;
		padding-bottom: 67%;
		margin-bottom: 5px;
		border: none;
		position: relative;
	}
	.section-features .section-featured-articles .section-article-excerpt-img-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.section-features .section-featured-articles .section-article-excerpt-img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	.section-features .section-featured-articles > div {
		border-bottom: 1px solid #dddddd;
		padding: 5px 0;
	}
	.section-features .section-featured-articles > div:last-child {
		border-bottom: none;
	}
}

/*tablet*/
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.section-features {
		padding: 20px;
	}
	.section-features:nth-child(1), 
	.section-features:nth-child(4) {
		flex-basis: calc(33% - 20px);
	}

	@media screen and (max-width: 850px) {
		.section-features {
			flex-basis: 50%;
			border-bottom: 1px solid #c4c4c4;
		}
		.section-features:nth-child(4) {
			flex-basis: 50%;
			padding: 20px;
			border-left: 1px solid #c4c4c4;
		}
		.section-features:nth-child(1), 
		.section-features:nth-child(3),
		.section-features:nth-child(5) {
			flex-basis: calc(50% - 20px);
			padding-left: 0;
			border-left: 0;
		}
		.section-features:nth-child(5),
		.section-features:nth-child(6) {
			border-bottom: 0;
		}

	}

}

/*mobile*/
@media screen and (max-width: 767px) {
	.section-features {
		padding-top: 10px;
	}
	.section-featured-articles {
		background-color: white;
		padding: 15px;
	}
	.section-featured-articles .section-article-excerpt {
		padding: 20px 0;
		border-bottom: 1px solid #ddd;
		clear: both;
	}
	.section-featured-articles .section-article-excerpt:nth-child(2) {
		clear: none;
		min-height: 140px;
		padding-top: 0;
	}
	.section-featured-articles .section-article-excerpt:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
	.section-featured-articles .section-article-excerpt-img {
		width: 50%;
		height: 120px;
		float: right;
		overflow: hidden;
		padding-left: 15px;
	}
	.section-featured-articles .section-article-excerpt-img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


/*============================================================================
  NonSports
==============================================================================*/

.nonsports-column {
	display: inherit;
	flex-wrap: wrap;
	flex-basis: 33%;
	flex-grow: 1;
	padding: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-family: 'Avenir Medium', sans-serif;
	overflow: hidden;
	flex-basis: calc(33% - 35px);
	width: 878px;
	border-bottom: 1px solid #c4c4c4;
}

.nonsports-column .content{
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.nonsports-column .content .section-header{
	font-family: 'Avenir Medium', sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	color: #ef2c34;
	margin-bottom: 10px;
}

.nonsports-column .content .blank-section-header{
	margin-bottom: 10px;
}

.nonsports-column .content .meta{
	margin-left: 40px;
}

.nonsports-column .content .title{
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 10px;
}

.nonsports-column .content .author{
	font-style: italic;
	color: #999;
	font-weight: 300;
}

.nonsports-column .content .date{
	color: #999;
	font-weight: 300;
}

.nonsports-column .image img {
	width: 100%;
	height: 160px;
	object-fit: cover;
	object-position: absolute;
	margin-bottom: 23px;
	margin-top: 23px;
	float: left;
}

.nonsports-column .image{
	float: left;
	margin-right: 30px;
}

.nonsports-column .content .description{
	font-size: 14px;
	line-height: 24px;
	color: 414141;
	font-weight: 300;
}

/*============================================================================
  Author_Info
==============================================================================*/

.authorInfo {
	display: inherit;
	flex-wrap: wrap;
	flex-basis: 33%;
	flex-grow: 1;
	padding: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-family: 'Avenir Medium', sans-serif;
	overflow: hidden;
	flex-basis: calc(33% - 35px);
	max-width: 860px;
}

.authorInfo .profile{
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom: 1px solid #c4c4c4;
}

.authorInfo .profile .titlePosition{
	font-family: 'Avenir Medium', sans-serif;
	font-weight: 100;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 40px;
	margin-top: 15px;
	padding-bottom: 10px;
	line-height: 27px;
}

.authorInfo .profile .name{
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 15px;
	padding-top: 15px;
	line-height: 33px;
}

.authorInfo .profile .image img {
	width: 75%;
	height: 110px;
	object-fit: cover;
	float: left;
	border-radius: 80%;
}

.authorInfo .profile .image{
	float: left;
	max-width: 150px;
}

.authorInfo .profile-description{
	border-bottom: 1px solid #c4c4c4;
}

.authorInfo .description{
	font-size: 10px;
	line-height: 24px;
	color: 414141;
	font-weight: 300;
	padding-bottom: 10px;
}

/*============================================================================
  SPORTS LIST
==============================================================================*/
.sport-section {
	padding: 35px 0;
	border-bottom: 1px solid #c4c4c4;
}
.sport-section ul {
	column-count: 3;
}
.sport-section li {
	padding: 2px 0;
}
.sport-section a {
	font-family: 'Avenir Medium', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
	.sport-section ul {
		column-count: 2;
	}
}

@media screen and (max-width: 768px) {
	.sport-section {
		border: 0;
	}
	.sport-section ul {
		column-count: 2;
		background-color: white;
		padding: 15px;
	}
}
