/*============================================================================
  INDEX FEATURED ARTICLES GRID
==============================================================================*/
/*featured hero article*/
.featured-hero-article-text-overlay .hero-image {
	width: 100%;
	height: 100%;
}
.featured-hero-article-text-overlay img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}
/*desktop*/
@media screen and (min-width: 768px) {
	.featured-hero-article-text-overlay {
		width: calc(100% - 35px);
		height: 0;
		padding-bottom: 67%;
		position: relative;
	}
	.featured-hero-article-text-overlay .hero-image {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.featured-hero-article-text-overlay .gradient-overlay {
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.featured-hero-article-text-overlay img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.featured-hero-article-text-overlay .text-overlay {
		width: calc(100% - 70px);
		position: absolute;
		bottom: 35px;
		left: 35px;
		z-index: 1;
	}
	.featured-hero-article-text-overlay .text-overlay .large-article-title {
		color: white;
		margin-top: 10px;
	}
	.featured-hero-article-text-overlay .text-overlay p {
		color: white;
		margin-bottom: 0;
	}
	.index-featured .divider {
		width: calc(100% - 35px);
		height: 1px;
		margin: 20px 0;
		background: #ddd;
	}
}

/*tablet*/
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.featured-hero-article-text-overlay {
		width: calc(100% - 20px);
	}
	.featured-hero-article-text-overlay .text-overlay {
		bottom: 15px;
		left: 15px;
	}
	.index-featured .divider {
		width: calc(100% - 20px);
	}

	@media screen and (max-width: 850px) {
		.featured-hero-article-text-overlay .text-overlay p {
			display: none;
		}
	}
}

/*mobile*/
@media screen and (max-width: 767px) {
	.index-featured {
		background-color: white;
	}
	.featured-hero-article-text-overlay .hero-image img {
		width: 100%;
		height: auto;
		max-height: 700px;
/*		max-height: 500px;
*/	}
	.featured-hero-article-text-overlay .text-overlay {
		margin: 0 15px auto;
		padding: 20px 0;
		border-bottom: 1px solid #ddd;
	}
	.index-featured .divider {
		display: none;
	}
}

/*featured sub articles*/
/*desktop*/
@media screen and (min-width: 768px) {
	.featured-sub-articles {
		width: 100%;
		display: flex;
		border-bottom: 1px solid #c4c4c4;
		padding-bottom: 35px;
		padding-right: 35px;
	}
	.featured-sub-articles .med-section-title {
		margin-top: 0;
		margin-bottom: 0;
	}
	.featured-sub-articles .med-article-title {
		margin-top: 10px;
	}
	.featured-article-excerpt p {
		margin-bottom: 0;
	}
	.featured-sub-articles .featured-article-excerpt:first-child {
		border-right: 1px solid #dddddd;
		padding-right: 20px;
	}
	.featured-sub-articles .featured-article-excerpt:nth-child(2) {
		padding-left: 20px;
	}
}

/*tablet*/
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.featured-sub-articles {
		width: calc(100% - 20px);
		padding-right: 0;
	}
}

/*mobile*/
@media screen and (max-width: 767px) {
	.featured-sub-articles {
		margin: 0 15px auto;
	}
	.featured-sub-articles .featured-article-excerpt {
		padding: 20px 0;
	}
	.featured-sub-articles .featured-article-excerpt:first-child {
		border-bottom: 1px solid #ddd;
	}
}

/*============================================================================
  INDEX SECTIONS GRID
==============================================================================*/
.index_sections {
	display: flex;
	flex-wrap: wrap;
}
.section-features {
	flex-basis: 33%;
	flex-grow: 1;
	padding: 35px;
	border-left: 1px solid #c4c4c4;
}
.section-features .med-nav-title {
	margin-top: 0;
}
.section-features:nth-child(1),
.section-features:nth-child(4) {
	flex-basis: calc(33% - 35px);
	padding-left: 0;
	border-left: 0;
}
.section-features:nth-child(-n + 3) {
	border-bottom: 1px solid #c4c4c4;
}
.section-features .section-featured-articles img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 5px;
}

/*desktop*/
@media screen and (min-width: 768px) {
	.index_sections {
		display: flex;
		flex-wrap: wrap;
	}
	.section-features {
		flex-basis: 33%;
		flex-grow: 1;
		padding: 35px;
		border-left: 1px solid #c4c4c4;
	}
	.section-features .med-nav-title {
		margin-top: 0;
	}
	.section-features:nth-child(1),
	.section-features:nth-child(4) {
		flex-basis: calc(33% - 35px);
		padding-left: 0;
		border-left: 0;
	}
	.section-features:nth-child(-n + 3) {
		border-bottom: 1px solid #c4c4c4;
	}

	.section-features .section-featured-articles .section-article-excerpt-img {
		width: 100%;
		height: 0;
		padding-bottom: 67%;
		margin-bottom: 5px;
		border: none;
		position: relative;
	}
	.section-features .section-featured-articles .section-article-excerpt-img-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.section-features .section-featured-articles .section-article-excerpt-img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	.section-features .section-featured-articles > div {
		border-bottom: 1px solid #dddddd;
		padding: 5px 0;
	}

	.section-features .section-featured-articles > div:last-child {
		border-bottom: none;
	}
}


@media screen and (min-width: 768px) {
	*,
	*:before,
	*:after {
	  box-sizing: border-box;
	}

	body {
	  margin: 40px;
	  font-family: 'Open Sans', 'sans-serif';
	  background-color: #fff;
	  color: #444;
	}

	h1,
	p {
	  margin: 0 0 1em 0;
	}

	.wrapper {
	  max-width: 940px;
	  margin: 0 20px;
	 /* display: grid;*/
	  grid-gap: 0px;
	}


	/* no grid support? */

	.wrapper {
	  display: flex;
	  flex-wrap: wrap;
	  clear:both;
	}

	.wrapper {
	  display: grid;
	  margin: 0 auto;
	  grid-template-columns: 3fr 2fr;
	  grid-auto-rows: minmax(250px, auto);
	}

	/* Bottom right text */
	.text-block {
	  position: absolute;
	  bottom: 20px;
	  left: 0px;
	  padding-left: 20px;
	  padding-right: 20px;
	}

	.fill {
		max-width: 100%;
	    display: flex;
	    justify-content: center;
	    position: relative;
	    align-items: center;
	    overflow: hidden
	}

	.fill img {
	    flex-shrink: 0;
	    max-width: 100%;
	    height: 450px;
	    object-fit: cover;
	}

	.section-panel {
	  margin-left: 5px;
	  margin-right: 10px;
	  flex: 1 1 200px;
	  border-bottom: 1px solid #c4c4c4;
	  display: flex;
	}

	.section-panel .section-panel-img {
		max-width:160px;
		max-height:240px;
		width: auto;
		height: auto;
	}

	.section-panel .section-panel-img img {
		object-fit: cover;
		max-width: 100%;
		max-height: 100%;
	}

	.section-panel-text {
		float: right;
		margin-left: 20px;
	}

	.section-tall-panel {
		border-right: 1px solid #c4c4c4;
		border-bottom: 1px solid #c4c4c4;
		grid-row-end: span 2;
		margin-right: 8px;
	}


	.wrapper > * {
		padding: 20px;
		font-size: 150%;
		margin-bottom: 10px;
	}


	/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

	@supports (display: grid) {
	  .wrapper > * {
	    margin: 0;
	  }
	}

}



/*tablet*/
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.section-features {
		padding: 20px;
	}
	.section-features:nth-child(1),
	.section-features:nth-child(4) {
		flex-basis: calc(33% - 20px);
	}

	@media screen and (max-width: 850px) {
		.section-features {
			flex-basis: 50%;
			border-bottom: 1px solid #c4c4c4;
		}
		.section-features:nth-child(4) {
			flex-basis: 50%;
			padding: 20px;
			border-left: 1px solid #c4c4c4;
		}
		.section-features:nth-child(1),
		.section-features:nth-child(3),
		.section-features:nth-child(5) {
			flex-basis: calc(50% - 20px);
			padding-left: 0;
			border-left: 0;
		}
		.section-features:nth-child(5),
		.section-features:nth-child(6) {
			border-bottom: 0;
		}

	}

}

/*mobile*/
@media screen and (max-width: 767px) {
	.section-features {
		padding-top: 10px;
	}
	.section-featured-articles {
		background-color: white;
		padding: 15px;
	}
	.section-featured-articles .section-article-excerpt {
		padding: 20px 0;
		border-bottom: 1px solid #ddd;
		clear: both;
	}
	.section-featured-articles .section-article-excerpt:nth-child(2) {
		clear: none;
		min-height: 140px;
		padding-top: 0;
	}
	.section-featured-articles .section-article-excerpt:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
	.section-featured-articles .section-article-excerpt-img {
		width: 50%;
		height: 120px;
		float: right;
		overflow: hidden;
		padding-left: 15px;
	}
	.section-featured-articles .section-article-excerpt-img img {
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	img {
		max-width: 100%;
	}
}


/*============================================================================
  NonSports
==============================================================================*/

.nonsports-column {
	display: inherit;
	flex-wrap: wrap;
	flex-basis: 33%;
	flex-grow: 1;
	padding: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-family: 'Avenir Medium', sans-serif;
	overflow: hidden;
	flex-basis: calc(33% - 35px);
	border-bottom: 1px solid #c4c4c4;
}

.nonsports-column .content{
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.nonsports-column .content .section-header{
	font-family: 'Avenir Medium', sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	color: #ef2c34;
	margin-bottom: 10px;
}

.nonsports-column .content .blank-section-header{
	margin-bottom: 10px;
}

.nonsports-column .content .meta{
	margin-left: 40px;
}

.nonsports-column .content .title{
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 10px;
	line-height: 1.25em;
}

.nonsports-column .content .author{
	font-style: italic;
	color: #999;
	font-weight: 300;
}

.nonsports-column .content .date{
	color: #999;
	font-weight: 300;
}

.nonsports-column .image img {
	/* width: 100%; */
	height: 160px;
	object-fit: cover;
	object-position: absolute;
	margin-bottom: 23px;
	margin-top: 23px;
	float: left;
}

.nonsports-column .image{
	float: left;
	margin-right: 30px;
}

.nonsports-column .content .description{
	font-size: 14px;
	line-height: 24px;
	color: 414141;
	font-weight: 300;
}

/*============================================================================
  TIPS
==============================================================================*/
#container{
	font-family: 'Avenir Medium', sans-serif;
	width: 650px;
}

.header{
	border-top: 4px solid #ececec;
    border-bottom: 2px solid #ececec;
	font-weight: bold;
	color: #3f3d3d;
	padding-bottom: 10px;
	width: 1128px;
}

.title{
	font-size: 22px;
}

.column {
  float: left;
  width: 50%;
}

#right{
	padding-left: 80px;
}


.form{
	width: 350px;
}

.send{
	background-color: black;
	font-family: 'Avenir Medium', sans-serif;
	color: white;
	padding: 10px;
}

/*============================================================================
  Author_Info
==============================================================================*/

.authorInfo {
	display: inherit;
	flex-wrap: wrap;
	flex-basis: 33%;
	flex-grow: 1;
	padding: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-family: 'Avenir Medium', sans-serif;
	overflow: hidden;
	flex-basis: calc(33% - 35px);
	max-width: 860px;
}

.authorInfo .profile{
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom: 1px solid #c4c4c4;
}

.authorInfo .profile .titlePosition{
	font-family: 'Avenir Medium', sans-serif;
	font-weight: 100;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 40px;
	margin-top: 15px;
	padding-bottom: 10px;
	line-height: 27px;
}

.authorInfo .profile .name{
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 15px;
	padding-top: 15px;
	line-height: 33px;
}

.authorInfo .profile .image img {
	width: 75%;
	height: 110px;
	object-fit: cover;
	float: left;
	border-radius: 80%;
}

.authorInfo .profile .image{
	float: left;
	max-width: 150px;
}

.authorInfo .profile-description{
	border-bottom: 1px solid #c4c4c4;
}

.authorInfo .description{
	font-size: 10px;
	line-height: 24px;
	color: 414141;
	font-weight: 300;
	padding-bottom: 10px;
}

/*============================================================================
  SPORTS LIST
==============================================================================*/
.sport-section {
	padding: 18px 0;
	border-bottom: 1px solid #c4c4c4;
}
.sport-section ul {
	column-count: 3;
}
.sport-section li {
	padding: 2px 0;
}
.sport-section a {
	font-family: 'Avenir Medium', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
	.sport-section ul {
		column-count: 2;
	}
}

@media screen and (max-width: 768px) {
	.sport-section {
		border: 0;
	}
	.sport-section ul {
		column-count: 2;
		background-color: white;
		padding: 15px;
	}
}
