/* This CSS file contains styling for the header, navbar, and footer. */

#header {
   text-align:center;
}

#header img {
   width: 50vw;
}

#centeredmenu #navbar-top ul li a {
   font-weight:lighter;
}

#centeredmenu {
   font-family: "Avenir";
   float:left;
   width:100%;
   background:#fff;
   overflow:hidden;
   position:relative;
   border-bottom:1px solid lightgray;
}

#navbartop {
   font-weight:lighter;
   font-color:gray;
}

#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

#centeredmenu ul li input {
   border:none;
   margin-top:3px;
   padding: 0 25px 0 25px;
}

#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
   border-left:1px solid lightgray;
}

#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:5px 10px;
   background:white;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}

#centeredmenu ul li a img {
   padding:-2px;
   height:17px;
}

#centeredmenu ul li a:hover {
   background:#369;
   color:#fff;
}

#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

.corporate-staff-block {
   width: 100%;
   text-align: center;
}

.bold-name {
   font-weight: bold;
}

.staff-block-row {
    width: 90%;
}

.editorial-staff-block {
    display: inline-block;
    float: left;
    width: 45%;
}

.business-staff-block {
    display: inline-block;
    float: right;
    width: 45%;
}

.two-column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.left-column-container {
    width: 40%;
}

.right-column-container {
    width: 40%;
}

.text-block {
    font-size: 16px;
    margin: 8px 0px;
}

.previous-staff-lists-block {
  width: 100%;
  text-align: left;
  display: inline-block;
}